body{
margin:0;
font-family:Poppins;
background:black;
color:white;
}


/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
border-bottom:1px solid #111;
background:black;
position:fixed;
width:100%;
z-index:100;
}

.logo{
font-size:22px;
font-weight:700;
letter-spacing:2px;
}

.nav-links a{
color:white;
text-decoration:none;
margin-left:30px;
font-weight:400;
}

.nav-links a:hover{
color:#aaa;
}



/* HERO SECTION */

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:black;
}

.hero-content h1{
font-size:70px;
margin:0;
letter-spacing:4px;
}

.hero-content p{
margin-top:15px;
color:#aaa;
font-size:18px;
}

.hero-btn{
display:inline-block;
margin-top:30px;
padding:15px 50px;
background:white;
color:black;
text-decoration:none;
font-weight:600;
transition:0.3s;
}

.hero-btn:hover{
background:#ccc;
}
