
body{

margin:0;
font-family:Arial;
background:black;
color:white;

}


.sidebar{

width:200px;
height:100vh;
background:#111;
position:fixed;
padding:20px;

}

.sidebar h1{

margin-bottom:30px;

}

.sidebar a{

display:block;
color:white;
text-decoration:none;
margin:10px 0;

}


.main{

margin-left:220px;
padding:30px;

}


.quote{

font-size:28px;
margin-bottom:40px;

}


.categories{

display:grid;
grid-template-columns:repeat(2,200px);
gap:20px;

}


.card{

background:#111;
padding:40px;
text-align:center;
border-radius:10px;

}


.products{

display:grid;
grid-template-columns:repeat(3,250px);
gap:30px;

}


.product{

background:#111;
padding:20px;
border-radius:10px;
text-align:center;

}


.product img{

width:200px;

}


.productPage{

display:flex;
gap:40px;

}


button{

background:white;
border:none;
padding:10px 20px;
cursor:pointer;

}


.cartItem{

margin:10px 0;

}
