body{

margin:0;
font-family:Arial;
background:black;
color:white;

}


/* HEADER */

header{

display:flex;
justify-content:space-between;
padding:20px;
border-bottom:1px solid #222;

}


header a{

color:white;
text-decoration:none;
margin-left:20px;

}


.logo{

height:40px;

}



/* HERO */

.hero{

height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

}


.hero h1{

font-size:50px;
margin:0;

}


.shopBtn{

background:white;
color:black;
padding:15px 40px;
text-decoration:none;
margin-top:20px;

}



/* SHOP */

.title{

text-align:center;
margin-top:20px;

}


#productsContainer{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
padding:40px;

}


.productCard{

background:#111;
padding:20px;
text-align:center;
border:1px solid #222;

}


.productCard img{

width:100%;

}



.productCard a{

display:inline-block;
margin-top:10px;
padding:10px 20px;
background:white;
color:black;
text-decoration:none;

}



/* PRODUCT PAGE */

.productPage{

display:flex;
gap:50px;
padding:50px;

}


.productPage img{

width:450px;

}


.productInfo button{

margin:5px;
padding:10px 15px;

}


.cartButton{

margin-top:20px;
padding:15px 40px;
background:white;
color:black;
border:none;

}



/* CART */

.cartItem{

display:flex;
gap:20px;
padding:20px;
border-bottom:1px solid #222;

}


.cartItem img{

width:120px;

}
