body {
  background: black;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
  text-align: center;
}

header {
  padding: 16px;
  background: #111;
}

nav a {
  margin: 0 10px;
  color: cyan;
  text-decoration: none;
  font-size: 16px;
}

.hero {
  padding: 40px;
}

button {
  padding: 10px 20px;
  background: cyan;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 20px;
}

.product-card {
  width: 260px;
  background: #1a1a1a;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #333;
}

.product-card img {
  height: 160px;
  object-fit: cover;
  width: 100%;
}

.cart-item {
  background: #222;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.cart-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}
